<h2 class="featured-title text-center">Featured Titles</h2>
<div class="featured-titles">
    <ul class="collection col-xs-24 fit">
        {% for book in site.data.featured %}
            <li class="book col-12 col-sm-6 col-lg-3">
                <a href="book-summary/{{ book.page }}.html" title="">
                    <div class="img-book-cover" style="background-image: url('{{ site.baseurl }}/images/covers/{{ book.image }}');"></div>
                </a>
                <p></p>
                <p>{{ book.content }}</p>
                <p class="text-center"><strong>{{ book.title }}</strong></p>
                <p class="text-center"><a class="read-more" href="book-summary/{{ book.page }}}.html" title="Read More">Read More</a></p>
            </li>
        {% endfor %}
        <!-- li class="book col-12 col-sm-6 col-lg-3">
            <a href="book-summary/protect-her.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/protect-her.png" | relative_url }}');"></div>
            </a>
            <p></p>
            <p class="book-description">Mack believed he was invincible until a bomb proved he wasn&apos;t. When he only sees himself as half a man, how can he&hellip;</p>
            <p class="text-center"><strong>Protect Her</strong></p>
            <p class="text-center"><a class="read-more" href="book-summary/protect-her.html" title="Read More">Read More</a></p>
        </li>
        <li class="book col-12 col-sm-6 col-lg-3">
            <a href="book-summary/who-is-erebus.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/who-is-erebus.png" | relative_url }}');"></div>
            </a>
            <p></p>
            <p class="bookr-description">Definitely a (reformed?) bad boy and with more steam than a sauna, if you met him in The Intern, you’ll want to know&hellip;</p>
            <p class="text-center"><strong>Who is Erebus</strong></p>
            <p class="text-center"><a class="read-more" href="book-summary/who-is-erebus.html" title="Read More">Read More</a></p>
        </li>
        <li class="book col-12 col-sm-6 col-lg-3">
            <a href="book-summary/the-politicians-wife.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/the-politician-wife.png" | relative_url }}');"></div>
            </a>
            <p></p>
            <p class="bookr-description">He promised he’d love her forever. Until Susannah discovered it was a politician’s promise and she was only&hellip;</p>
            <p class="text-center"><strong>The Politician&apos;s Wife</strong></p>
            <p class="text-center"><a class="read-more" href="book-summary/the-politicians-wife.html" title="Read More">Read More</a></p>
        </li -->
    </ul>
</div>