<h2 class="featured-title text-center">Featured Titles</h2>
<div class="featured-titles">
    <ul class="collection col-xs-24 fit">
        <li class="book col-12 col-sm-6 col-lg-3 text-center">
            <a href="book-summary/the-perfect-wife.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/the-perfect-wife.png" | relative_url }}');"></div>
            </a>
            <p><a href="book-summary/the-perfect-wife.html" title=""></a></p>
            <h3 class="book-title">The Pefect Wife</h3>
            <p class="book-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore…</p>
            <p><a class="read-more" href="book-summary/the-perfect-wife.html" title="Read More">Read More</a></p>
        </li>
        <li class="book col-12 col-sm-6 col-lg-3 text-center">
            <a href="book-summary/protect-her.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/protect-her.png" | relative_url }}');"></div>
            </a>
            <p><a href="book-summary/protect-her.html" title=""></a></p>
            <h3 class="book-title">Protect Her</h3>
            <p class="book-description">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip…</p>
            <p><a class="read-more" href="book-summary/protect-her.html" title="Read More">Read More</a></p></p>
        </li>
        <li class="book col-12 col-sm-6 col-lg-3 text-center">
            <a href="book-summary/who-is-erebus.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/who-is-erebus.png" | relative_url }}');"></div>
            </a>
            <p><a href="book-summary/who-is-erebus.html" title=""></a></p>
            <h3 class="book-title">Who is Erebus</h3>
            <p class="book-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p><a class="read-more" href="book-summary/who-is-erebus.html" title="Read More">Read More</a></p>
        </li>
        <li class="book col-12 col-sm-6 col-lg-3 text-center">
            <a href="book-summary/the-politicians-wife.html" title="">
                <div class="img-book-cover" style="background-image: url('{{ "/images/covers/the-politician-wife.png" | relative_url }}');"></div>
            </a>
            <p><a href="book-summary/the-politicians-wife.html" title=""></a></p>
            <h3 class="book-title">The Politician&apos;s Wife</h3>
            <p class="book-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p><a class="read-more" href="book-summary/the-politicians-wife.html" title="Read More">Read More</a></p>
        </li>
    </ul>
</div>