<header class="site-header" role="banner">
  <div class="top-bar">
    <div class="wide-wrapper {{ page.category | downcase }} {{ page.special }}">
        <nav>
            <ul>
                <li class="home-link"><img src="{{site.baseurl}}/images/open-book.png" alt="open book icon" class="round"> <a href="{{ "/" | relative_url}}">Books by Kenna</a></li>
                <li class="my-books"><a href="{{site.baseurl}}/all-books">My books</a></li>
                <li class="latest-news"><a href="{{site.baseurl}}/news">Latest news</a></li>
                <li class="about"><a href="{{site.baseurl}}/about">About me</a></li>
            </ul>
        </nav>
    </div>
  </div>
  <div class="banner">
    <h1>{{ page.title }}</h1>
  </div>
</header>
