<header class="site-header" role="banner">
  <div class="top-bar">
    <div class="wide-wrapper {{ page.category | downcase }} {{ page.special }}">
        <nav>
            <ul>
                <li class="home-link"><img src="{{site.baseurl}}/images/open-book.png" alt="open book icon" class="round"> <a href="{{ "/" | relative_url}}">Home</a></li>
                <li><a class="pagelink" href="#">Latest news</a></li>
                <li><a class="pagelink" href="#">My books</a></li>
            </ul>
        </nav>
    </div>
  </div>
  <div class="banner">
    <h1>Books by Kenna</h1>
  </div>
</header>
